$accent-color: rgba(44, 41, 41, 0.884);

#pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
  .buttonPagination {
    $pagination-button-dimension: 2em;
    padding: 5px;
    color: black;
    background-color: #ddd;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    width: $pagination-button-dimension;
    height: $pagination-button-dimension;
    margin-left: 3px;
    &.activeButton {
      color: white;
      background-color: $accent-color;
      border-color: black;
    }
  }
}
